.SignUpContainer {
    width: 100%;
    height: 100vh;
    background-image: url('../../components/images/Background.png');
    /* background-color: #A9A9A9; */
}

.SignUpContainer .subSignUpContainer {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid white;
    border-radius: 20px;
    /* box-shadow: 10px 10px blur gray ; */
    box-shadow:0px 0px 30px 10px rgba(160, 155, 155, 0.2);
    padding: 20px;
    /* width: 400px; */
   
}

.headingContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    /* color: blue; */
}

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}

.inputContainer input {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    width: 300px;
}

.loginButton {
    background-color: blue;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: rgb(5, 5, 134);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.logFooterContainer{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

